body, ul{
    margin: 0;
    padding: 0;
}



a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

#logo{
    width: 4rem;
    padding-left: 1rem;
}

#rodape{
    background-color: black;
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
}
#rodape a{
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

article{
    width: 30px;
    position: relative;
    top: 5rem;
    left: 35rem;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid  black;
}

#texto1{
    padding-left: 5rem;
    font-size: 20px;
}

#texto2{
    padding-left: 2rem;
    font-size: 1rem;
}

#textoesp{
    padding-left: 5rem;
    font-size: 1rem;
}



#menu{
    display: block;
    /*display: block;*/
    position: absolute;    
    list-style: none;
    gap: 5rem;
    width: 20%;
    top: 60px;
    left: 0px;
    height: 0px;
    transition: .5s;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    overflow-y: hidden ;
    overflow-x: hidden;
    z-index: 1000;
    border: 1px solid black;
}

#menu img{
    width: 30px;
}

#menu a{
    display: block;
    padding:  .5rem;
    margin-top: 1rem;
    border-bottom: 1px solid black;
    font-size: 30px;
}

#nav.active #menu{
    height: calc(100vh - 60px);
    overflow-y: auto;
    visibility: visible;
}



#botao{
    display: flex;
    padding: .5 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}


#barra{
    display: block;
    border-top: 2px solid;
    width: 20px;
}
#barra::after, #barra::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}
#nav.active #barra{
    border-top-color: transparent;
}
#nav.active #barra::before{
    transform: rotate(135deg);
}
#nav.active #barra::after{
    transform: rotate(-135deg);
    top: -7px;
}